.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #FFF;

}

header strong:hover{
    color: #DDD;
    cursor: pointer;
    transition: all 0.8s;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 100%;
    height: 60px;
    background-color: #333;
}

.lista-filmes{
    margin: 15px;
}

.lista-filmes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    width: 700px;
    border-width: 1px;
    border-radius: 7px;
    margin: 8px;
    padding: 10px;
}

.lista-filmes strong{
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    color: #000;
}

.lista-filmes img{
    border-radius: 5px;
}

.lista-filmes a{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    width: 100%;
    background-color: brown;
    height: 40px;
    margin-top: -30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.filme-info{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    background-color: #FFF;
}

.filme-info article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    border-width: 1px;
    border-radius: 7px;
    margin: 8px;
    padding: 10px;
}

.filme-info strong{
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    color: #000;
}

.filme-info img{
    border-radius: 20px;
}

.botao{
    display: flex;
    height: 40px;
    background: none;
    border-radius: 5px;
    color: #DDD;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    margin: 10px;
}
